<%- include ./partials/head.ejs %>

<div class="pokemon-page">
    <a class="button button-back" href="/posts">back</a>
    <div class="pokemon-details">
        <h1><%- postData.title %></h1>
        <p><%- postData.body %></p>
    </div>
</div>

<%- include ./partials/footer.ejs %>